h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* SONGS LIST COMPONENT */
.songs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1rem;
}

.songs-container h2 {
  margin-bottom: 1rem;
}

.song {
  position: relative;

  height: 3rem;
  width: calc(32ch + 3rem);

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 0.25rem;

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  cursor: default;
}
.song:hover {
  background: rgba(0, 0, 0, 0.1);
}

.song span {
  width: 32ch;
}

.actions-container {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.select-song-button,
.add-to-queue-button {
  display: none;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  outline: none;
  border-radius: 50%;

  padding: 0.3rem;

  cursor: pointer;
}
.song:hover .select-song-button,
.song:hover .add-to-queue-button {
  display: flex;
}
.select-song-button:hover,
.add-to-queue-button:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* QUEUE COMPONENT */
.queue {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1rem;
}

.queue .header {
  display: flex;
  align-items: center;

  gap: 2rem;
  margin-bottom: 0.5rem;
}

.suffle-button,
.clear-queue-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  outline: none;
  border-radius: 50%;

  padding: 0.3rem;

  cursor: pointer;
}
.suffle-button:disabled,
.clear-queue-button:disabled {
  cursor: default;
}
.suffle-button:not(:disabled):hover,
.clear-queue-button:not(:disabled):hover {
  background: rgba(0, 0, 0, 0.2);
}

.remove-from-queue-button,
.play-now-button {
  display: none;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  outline: none;
  border-radius: 50%;

  padding: 0.3rem;

  cursor: pointer;
}
.song:hover .remove-from-queue-button,
.song:hover .play-now-button {
  display: flex;
}
.remove-from-queue-button:hover,
.play-now-button:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* PLAYING SONG COMPONENT */
.playing-song {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 7rem;

  padding: 1rem;
  gap: 0.5rem;

  border: 1px solid black;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  grid-column: 2;

  gap: 1rem;
}

.playing-song .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.playing-song button {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  outline: none;
  border-radius: 50%;

  padding: 0.3rem;
  cursor: pointer;
}
.playing-song button:not(:disabled):hover {
  background: rgba(0, 0, 0, 0.1);
}
.playing-song button:disabled {
  cursor: default;
}

.song-name {
  display: flex;
  align-items: center;
  justify-content: start;

  font-size: 1.2rem;
  font-weight: 500;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25rem;

  gap: 0.5rem;
}

.song-progress {
  width: 100%;
}

.time {
  width: 6ch;

  text-align: center;
  font-weight: 500;
}

.controls-container {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.volume-container {
  display: flex;
  align-items: center;
  justify-content: end;

  grid-column: 3;

  gap: 0.5rem;
}
